In [56]:
# library information:

import os
# It is the fundamental library of python, used to perform scientific computing. 
# It provides high-performance multidimensional arrays and tools to deal with them.
import numpy as np
# Pandas provide high performance, fast, easy to use data structures and data analysis tools for manipulating 
# numeric data and time series. Pandas is built on the numpy library and written in languages like Python.
import pandas as pd
# import library to read date range for stock ticker historical data range
import datetime
import json

import alpaca_trade_api as tradeapi

from dotenv import load_dotenv
# import ipynb.fs.full
# https://stackoverflow.com/questions/44116194/import-a-function-from-another-ipynb-file
# from ipynb.fs.full.test_sr import *
# from ipynb.fs.full.date_functions import *
# from ipynb.fs.full.my_functions import *

# since functions will be in a different folder, import library to read path info
import sys
sys.path.append('Saeed/functions/')
sys.path.append('Saeed/functions/utils/')
# and now import my functions
from test_sr import *
from date_functions import *
from my_functions import *

# ===================================================================================================
# http://theautomatic.net/yahoo_fin-documentation/
# pip install yahoo-fin
# import yahoo_fin.stock_info as si

# import data libraries to read date range for stock ticker historical data range
# from datetime import date

# other libraries
# import pandas_datareader as pdr
%matplotlib inline
import yfinance as yf

In [57]:
# test call to function in a different folder
# ........................................................................display_greeting("Saeed")

In [58]:
# Load .env environment variables
load_dotenv()

True

In [59]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [60]:
# Verify that Alpaca key and secret were correctly loaded
print(f"Alpaca Key type: {type(alpaca_api_key)}")
print(f"Alpaca Secret Key type: {type(alpaca_secret_key)}")

Alpaca Key type: <class 'str'>
Alpaca Secret Key type: <class 'str'>

In [61]:
# Create the Alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [62]:
# SAM: Get S&P 500 tickers
sp500_tickers = pd.read_html("https://en.wikipedia.org/wiki/List_of_S%26P_500_companies")[0]
sp500_tickers = sp500_tickers.Symbol.to_list()
# print(sp500_tickers)

In [63]:
# SAM: Clean Tickers of periods
sp500_tickers = [x.replace(".", "-") for x in sp500_tickers]
# print(sp500_tickers)

In [64]:
# format current date as ISO format
this_moment = datetime.datetime.now()
this_moment

datetime.datetime(2021, 8, 14, 21, 18, 31, 494068)

In [65]:
# number of days for which we need data. for 200SMA we should atleast get 250 days
num_of_days = 30    # 365 - Get atleast a year's worth of data.
num_of_days

30

In [66]:
# get the begin date for the date range.
start_date = get_begin_date(this_moment, num_of_days)
start_date

# start_date.strftime("%m/%d/%y")
# start_date = str(datetime.datetime.now() - datetime.timedelta(days=1*num_of_days))
# start_date

datetime.datetime(2021, 7, 15, 21, 18, 31, 494068)

In [67]:
# get the end date for the date range
finish_date = str(this_moment).split()[0]
finish_date

# = current_date
# end_date
# current_date = date.today()
# current_date.strftime("%m/%d/%y")
# end_date = current_date

'2021-08-14'

In [68]:
# conver date to ISO format
begin_date = pd.Timestamp(start_date, tz="America/New_York").isoformat()
begin_date

'2021-07-15T21:18:31.494068-04:00'

In [69]:
end_date = pd.Timestamp(finish_date, tz="America/New_York").isoformat()
end_date

'2021-08-14T00:00:00-04:00'

In [70]:
# get tickers for "dow" or "sp500" or "nasdaq" one at a time

# dow30 has 30 symbols
# tickers_dow = get_tickers("dow")
# choice = "dow"
# tickers_dow

# sp500 has 505 symbols
tickers_sp500 = get_tickers("sp500")
choice = "sp500"
# tickers_sp500

# nasdaq has 4942 symbols
# tickers_nasdaq = get_tickers("nasdaq")
# choice = "nasdaq"
# tickers_nasdaq

# if we decide to use more than one market index, we must remove duplicates
# all_tickers = list(set(tickers_dow + tickers_sp500)) 

# all_tickers = tickers_dow
all_tickers = tickers_sp500
# all_tickers = tickers_nasdaq
all_tickers = ["AAPL", "IBM", "WMT"]     # ["AAPL", "V", "WMT"]
# choice = "sample"

# print(all_tickers)
type(all_tickers)
all_tickers

['AAPL', 'IBM', 'WMT']

In [71]:
# sp_data = yf.download(sp500_tickers, period="1mo")
# sp_data = yf.download(all_tickers, start=start_date, end=finish_date)   # doesn't bring today
# sp_data = yf.download(all_tickers, period="1y", groupby="tickers")
# sp_data

In [72]:
selection = yf.download((all_tickers), period="1y", groupby="ticker")
# 70.47 seconds
selection

[*********************100%***********************]  3 of 3 completed

             Adj Close                               Close              \
                  AAPL         IBM         WMT        AAPL         IBM
Date
2020-08-13         NaN         NaN         NaN         NaN         NaN
2020-08-14  114.173164  119.133232  130.572586  114.907501  125.269997
2020-08-17  113.875069  118.343887  133.526718  114.607498  124.440002
2020-08-18  114.823975  118.800369  132.650330  115.562500  124.919998
2020-08-19  114.968048  117.773285  130.385498  115.707497  123.839996
...                ...         ...         ...         ...         ...
2021-08-09  146.089996  141.250000  145.046249  146.089996  141.250000
2021-08-10  145.600006  141.380005  148.134872  145.600006  141.380005
2021-08-11  145.860001  142.130005  149.459991  145.860001  142.130005
2021-08-12  148.889999  143.070007  149.059998  148.889999  143.070007
2021-08-13  149.100006  143.179993  149.529999  149.100006  143.179993

                              High                                 Low  \
                   WMT        AAPL         IBM         WMT        AAPL
Date
2020-08-13         NaN         NaN         NaN         NaN         NaN
2020-08-14  132.600006  115.000000  125.559998  132.970001  113.044998
2020-08-17  135.600006  116.087502  125.589996  136.130005  113.962502
2020-08-18  134.710007  116.000000  125.500000  137.630005  114.007500
2020-08-19  132.410004  117.162498  125.500000  134.660004  115.610001
...                ...         ...         ...         ...         ...
2021-08-09  145.580002  146.699997  142.500000  146.479996  145.520004
2021-08-10  148.679993  147.710007  141.809998  148.949997  145.300003
2021-08-11  150.009995  146.720001  142.770004  151.580002  145.529999
2021-08-12  149.059998  149.050003  143.149994  150.210007  145.839996
2021-08-13  149.529999  149.440002  143.580002  150.360001  148.270004

                                          Open                          \
                   IBM         WMT        AAPL         IBM         WMT
Date
2020-08-13         NaN         NaN         NaN         NaN         NaN
2020-08-14  123.910004  131.630005  114.830002  124.199997  132.339996
2020-08-17  124.410004  133.850006  116.062500  125.250000  134.350006
2020-08-18  124.239998  133.169998  114.352501  125.000000  136.169998
2020-08-19  123.500000  131.850006  115.982498  124.830002  134.210007
...                ...         ...         ...         ...         ...
2021-08-09  140.970001  145.399994  146.199997  142.199997  145.910004
2021-08-10  140.339996  146.250000  146.440002  141.210007  146.970001
2021-08-11  141.500000  149.160004  146.050003  141.779999  149.509995
2021-08-12  142.080002  148.809998  146.190002  142.259995  149.000000
2021-08-13  142.440002  149.160004  148.970001  142.639999  149.380005

                 Volume
                   AAPL        IBM         WMT
Date
2020-08-13          NaN        NaN         NaN
2020-08-14  165565200.0  2963400.0   6702100.0
2020-08-17  119561600.0  3360100.0  13155000.0
2020-08-18  105633600.0  2882400.0  26744200.0
2020-08-19  145538000.0  3743900.0  12718400.0
...                 ...        ...         ...
2021-08-09   48908700.0  4904100.0   5270600.0
2021-08-10   69023100.0  5299900.0  12754000.0
2021-08-11   48493500.0  4260000.0  13818600.0
2021-08-12   72282600.0  2088700.0   6089700.0
2021-08-13   59318800.0  1910100.0   5321900.0

[253 rows x 18 columns]

In [99]:
# select Walmart DF
# without group_by
df_t = selection.loc(axis=1)[:, ['', 'WMT']]
df_t

,Adj Close,Close,High,Low,Open,Volume,Daily Change,Percent Daily Change
,WMT,WMT,WMT,WMT,WMT,WMT,WMT,WMT
Date,,,,,,,,
2020-08-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-08-14,130.572586,132.600006,132.970001,131.630005,132.339996,6702100.0,0.260010,0.001965
2020-08-17,133.526718,135.600006,136.130005,133.850006,134.350006,13155000.0,1.250000,0.009304
2020-08-18,132.650330,134.710007,137.630005,133.169998,136.169998,26744200.0,-1.459991,-0.010722
2020-08-19,130.385498,132.410004,134.660004,131.850006,134.210007,12718400.0,-1.800003,-0.013412
...,...,...,...,...,...,...,...,...
2021-08-09,145.046249,145.580002,146.479996,145.399994,145.910004,5270600.0,-0.330002,-0.002262
2021-08-10,148.134872,148.679993,148.949997,146.250000,146.970001,12754000.0,1.709991,0.011635
2021-08-11,149.459991,150.009995,151.580002,149.160004,149.509995,13818600.0,0.500000,0.003344
2021-08-12,149.059998,149.059998,150.210007,148.809998,149.000000,6089700.0,0.059998,0.000403
2021-08-13,149.529999,149.529999,150.360001,149.160004,149.380005,5321900.0,0.149994,0.001004

In [74]:
# split list of tickers

# the_list = all_tickers
# if choice == "sp500":                # change to sp500 after testing
#     chunk_size = 100
#     # the_list = all_tickers
#     if len(all_tickers) > chunk_size:
#         the_list = split_my_list(all_tickers, chunk_size)
#         #print("Saeed")
# # print(the_list)
# type(the_list)

In [75]:
# print(the_list[0])
# type(the_list[0])

In [76]:
# # Set timeframe to one day ('1D') for the Alpaca API
# timeframe = "1D"
# timeframe

In [77]:
# Get current historical data tickers in the list
# df_historical_data

# for i in range(len(the_list)):
# #    list[i] = the_list[i]

#     df_historical_data = alpaca.get_barset(
#         the_list[i],
#         timeframe,
#         start = begin_date,
#         end = end_date
#     ).df
    
#     if i == 0:
#         new_df = df_historical_data_aapl
#     else:
#         new_df = pd.concat([new_df, df_historical_data_wmt], axis=1, join="inner")

# Figure out looping here ...
# if choice == "sp500":                   # change to sp500 after testing
#     final_df_1 = alpaca.get_barset(
#          the_list[0],
#          timeframe,
#          start = begin_date,
#          end = end_date
#     ).df
        
#     final_df_2 = df_historical_data_wmt = alpaca.get_barset(
#         the_list[1],
#         timeframe,
#         start = begin_date,
#         end = end_date
#     ).df
    
#     final_df_3 = alpaca.get_barset(
#          the_list[2],
#          timeframe,
#          start = begin_date,
#          end = end_date
#     ).df
    
#     final_df_4 = alpaca.get_barset(
#          the_list[3],
#          timeframe,
#          start = begin_date,
#          end = end_date
#     ).df
    
#     final_df_5 = alpaca.get_barset(
#          the_list[4],
#          timeframe,
#          start = begin_date,
#          end = end_date
#     ).df
    
#     final_df_6 = alpaca.get_barset(
#          the_list[5],
#          timeframe,
#          start = begin_date,
#          end = end_date
#     ).df    
    
#     final_df = pd.concat([final_df_1, final_df_2, final_df_3, final_df_4, final_df_5, final_df_6], axis=1, join="inner")
# else:
#     final_df = alpaca.get_barset(
#         the_list,
#         timeframe,
#         start = begin_date,
#         end = end_date
#     ).df


# # Display sample data
# final_df                   # only get a 100 days worth of data ...

In [78]:
# save the data
# json = final_df("hist_data.json")
# save the file for future read
with open('resources/data/hist_data.json', 'w') as outfile:
     json.dump(selection.to_json(), outfile)

In [79]:
# how do I read ?
# my_file = open('resources/data/hist_data.json', 'r')
# json_data = my_file.read()
# json_data
# df_a = json_data.df
# df_a
# with open('resources/data/hist_data.json', 'r') as infile:
#     data_read = json.load(infile)
# # df_a = pd.data_read
# # for i in range(0, len(data_read)):
# #     print(data_read[i])
# # data_read.splitlines()
# df_a = pd.DataFrame.from_dict(pd.json_normalize(data_read), orient='columns')
# df_a

In [80]:
selection

             Adj Close                               Close              \
                  AAPL         IBM         WMT        AAPL         IBM
Date
2020-08-13         NaN         NaN         NaN         NaN         NaN
2020-08-14  114.173164  119.133232  130.572586  114.907501  125.269997
2020-08-17  113.875069  118.343887  133.526718  114.607498  124.440002
2020-08-18  114.823975  118.800369  132.650330  115.562500  124.919998
2020-08-19  114.968048  117.773285  130.385498  115.707497  123.839996
...                ...         ...         ...         ...         ...
2021-08-09  146.089996  141.250000  145.046249  146.089996  141.250000
2021-08-10  145.600006  141.380005  148.134872  145.600006  141.380005
2021-08-11  145.860001  142.130005  149.459991  145.860001  142.130005
2021-08-12  148.889999  143.070007  149.059998  148.889999  143.070007
2021-08-13  149.100006  143.179993  149.529999  149.100006  143.179993

                              High                                 Low  \
                   WMT        AAPL         IBM         WMT        AAPL
Date
2020-08-13         NaN         NaN         NaN         NaN         NaN
2020-08-14  132.600006  115.000000  125.559998  132.970001  113.044998
2020-08-17  135.600006  116.087502  125.589996  136.130005  113.962502
2020-08-18  134.710007  116.000000  125.500000  137.630005  114.007500
2020-08-19  132.410004  117.162498  125.500000  134.660004  115.610001
...                ...         ...         ...         ...         ...
2021-08-09  145.580002  146.699997  142.500000  146.479996  145.520004
2021-08-10  148.679993  147.710007  141.809998  148.949997  145.300003
2021-08-11  150.009995  146.720001  142.770004  151.580002  145.529999
2021-08-12  149.059998  149.050003  143.149994  150.210007  145.839996
2021-08-13  149.529999  149.440002  143.580002  150.360001  148.270004

                                          Open                          \
                   IBM         WMT        AAPL         IBM         WMT
Date
2020-08-13         NaN         NaN         NaN         NaN         NaN
2020-08-14  123.910004  131.630005  114.830002  124.199997  132.339996
2020-08-17  124.410004  133.850006  116.062500  125.250000  134.350006
2020-08-18  124.239998  133.169998  114.352501  125.000000  136.169998
2020-08-19  123.500000  131.850006  115.982498  124.830002  134.210007
...                ...         ...         ...         ...         ...
2021-08-09  140.970001  145.399994  146.199997  142.199997  145.910004
2021-08-10  140.339996  146.250000  146.440002  141.210007  146.970001
2021-08-11  141.500000  149.160004  146.050003  141.779999  149.509995
2021-08-12  142.080002  148.809998  146.190002  142.259995  149.000000
2021-08-13  142.440002  149.160004  148.970001  142.639999  149.380005

                 Volume
                   AAPL        IBM         WMT
Date
2020-08-13          NaN        NaN         NaN
2020-08-14  165565200.0  2963400.0   6702100.0
2020-08-17  119561600.0  3360100.0  13155000.0
2020-08-18  105633600.0  2882400.0  26744200.0
2020-08-19  145538000.0  3743900.0  12718400.0
...                 ...        ...         ...
2021-08-09   48908700.0  4904100.0   5270600.0
2021-08-10   69023100.0  5299900.0  12754000.0
2021-08-11   48493500.0  4260000.0  13818600.0
2021-08-12   72282600.0  2088700.0   6089700.0
2021-08-13   59318800.0  1910100.0   5321900.0

[253 rows x 18 columns]

In [96]:
# select one process for all tickers
# without group_by
selection['Close']

                  AAPL         IBM         WMT
Date
2020-08-13         NaN         NaN         NaN
2020-08-14  114.907501  125.269997  132.600006
2020-08-17  114.607498  124.440002  135.600006
2020-08-18  115.562500  124.919998  134.710007
2020-08-19  115.707497  123.839996  132.410004
...                ...         ...         ...
2021-08-09  146.089996  141.250000  145.580002
2021-08-10  145.600006  141.380005  148.679993
2021-08-11  145.860001  142.130005  150.009995
2021-08-12  148.889999  143.070007  149.059998
2021-08-13  149.100006  143.179993  149.529999

[253 rows x 3 columns]

In [103]:
df_t.loc['2021-08-13', 'Close']

WMT    149.529999
Name: 2021-08-13 00:00:00, dtype: float64

In [83]:
#selection.columns

In [84]:
# selection.index.values

In [102]:
df_daily_change = selection['Close'] - selection['Open']
df_daily_change
# df_change.columns

                AAPL       IBM       WMT
Date
2020-08-13       NaN       NaN       NaN
2020-08-14  0.077499  1.070000  0.260010
2020-08-17 -1.455002 -0.809998  1.250000
2020-08-18  1.209999 -0.080002 -1.459991
2020-08-19 -0.275002 -0.990005 -1.800003
...              ...       ...       ...
2021-08-09 -0.110001 -0.949997 -0.330002
2021-08-10 -0.839996  0.169998  1.709991
2021-08-11 -0.190002  0.350006  0.500000
2021-08-12  2.699997  0.810013  0.059998
2021-08-13  0.130005  0.539993  0.149994

[253 rows x 3 columns]

In [86]:
# # df_daily_change.columns
# headers = pd.MultiIndex.from_product([['Daily Change'], df_daily_change.columns])
# # headers
# df_daily_change.index

In [87]:
headers = pd.MultiIndex.from_product([['Daily Change'], df_daily_change.columns])
df_daily_change = pd.DataFrame(df_daily_change.values, df_daily_change.index, columns = headers)
df_daily_change

           Daily Change
                   AAPL       IBM       WMT
Date
2020-08-13          NaN       NaN       NaN
2020-08-14     0.077499  1.070000  0.260010
2020-08-17    -1.455002 -0.809998  1.250000
2020-08-18     1.209999 -0.080002 -1.459991
2020-08-19    -0.275002 -0.990005 -1.800003
...                 ...       ...       ...
2021-08-09    -0.110001 -0.949997 -0.330002
2021-08-10    -0.839996  0.169998  1.709991
2021-08-11    -0.190002  0.350006  0.500000
2021-08-12     2.699997  0.810013  0.059998
2021-08-13     0.130005  0.539993  0.149994

[253 rows x 3 columns]

In [88]:
selection = pd.concat([selection, df_daily_change], axis=1, join="inner")
selection

             Adj Close                               Close              \
                  AAPL         IBM         WMT        AAPL         IBM
Date
2020-08-13         NaN         NaN         NaN         NaN         NaN
2020-08-14  114.173164  119.133232  130.572586  114.907501  125.269997
2020-08-17  113.875069  118.343887  133.526718  114.607498  124.440002
2020-08-18  114.823975  118.800369  132.650330  115.562500  124.919998
2020-08-19  114.968048  117.773285  130.385498  115.707497  123.839996
...                ...         ...         ...         ...         ...
2021-08-09  146.089996  141.250000  145.046249  146.089996  141.250000
2021-08-10  145.600006  141.380005  148.134872  145.600006  141.380005
2021-08-11  145.860001  142.130005  149.459991  145.860001  142.130005
2021-08-12  148.889999  143.070007  149.059998  148.889999  143.070007
2021-08-13  149.100006  143.179993  149.529999  149.100006  143.179993

                              High                                 Low  ...  \
                   WMT        AAPL         IBM         WMT        AAPL  ...
Date                                                                    ...
2020-08-13         NaN         NaN         NaN         NaN         NaN  ...
2020-08-14  132.600006  115.000000  125.559998  132.970001  113.044998  ...
2020-08-17  135.600006  116.087502  125.589996  136.130005  113.962502  ...
2020-08-18  134.710007  116.000000  125.500000  137.630005  114.007500  ...
2020-08-19  132.410004  117.162498  125.500000  134.660004  115.610001  ...
...                ...         ...         ...         ...         ...  ...
2021-08-09  145.580002  146.699997  142.500000  146.479996  145.520004  ...
2021-08-10  148.679993  147.710007  141.809998  148.949997  145.300003  ...
2021-08-11  150.009995  146.720001  142.770004  151.580002  145.529999  ...
2021-08-12  149.059998  149.050003  143.149994  150.210007  145.839996  ...
2021-08-13  149.529999  149.440002  143.580002  150.360001  148.270004  ...

                              Open                               Volume  \
                   WMT        AAPL         IBM         WMT         AAPL
Date
2020-08-13         NaN         NaN         NaN         NaN          NaN
2020-08-14  131.630005  114.830002  124.199997  132.339996  165565200.0
2020-08-17  133.850006  116.062500  125.250000  134.350006  119561600.0
2020-08-18  133.169998  114.352501  125.000000  136.169998  105633600.0
2020-08-19  131.850006  115.982498  124.830002  134.210007  145538000.0
...                ...         ...         ...         ...          ...
2021-08-09  145.399994  146.199997  142.199997  145.910004   48908700.0
2021-08-10  146.250000  146.440002  141.210007  146.970001   69023100.0
2021-08-11  149.160004  146.050003  141.779999  149.509995   48493500.0
2021-08-12  148.809998  146.190002  142.259995  149.000000   72282600.0
2021-08-13  149.160004  148.970001  142.639999  149.380005   59318800.0

                                  Daily Change
                  IBM         WMT         AAPL       IBM       WMT
Date
2020-08-13        NaN         NaN          NaN       NaN       NaN
2020-08-14  2963400.0   6702100.0     0.077499  1.070000  0.260010
2020-08-17  3360100.0  13155000.0    -1.455002 -0.809998  1.250000
2020-08-18  2882400.0  26744200.0     1.209999 -0.080002 -1.459991
2020-08-19  3743900.0  12718400.0    -0.275002 -0.990005 -1.800003
...               ...         ...          ...       ...       ...
2021-08-09  4904100.0   5270600.0    -0.110001 -0.949997 -0.330002
2021-08-10  5299900.0  12754000.0    -0.839996  0.169998  1.709991
2021-08-11  4260000.0  13818600.0    -0.190002  0.350006  0.500000
2021-08-12  2088700.0   6089700.0     2.699997  0.810013  0.059998
2021-08-13  1910100.0   5321900.0     0.130005  0.539993  0.149994

[253 rows x 21 columns]

In [89]:
df_daily_change = selection['Close'] - selection['Open']
df_percent_daily_change = df_daily_change / selection['Open'] 
# df_change
df_percent_daily_change

                AAPL       IBM       WMT
Date
2020-08-13       NaN       NaN       NaN
2020-08-14  0.000675  0.008615  0.001965
2020-08-17 -0.012536 -0.006467  0.009304
2020-08-18  0.010581 -0.000640 -0.010722
2020-08-19 -0.002371 -0.007931 -0.013412
...              ...       ...       ...
2021-08-09 -0.000752 -0.006681 -0.002262
2021-08-10 -0.005736  0.001204  0.011635
2021-08-11 -0.001301  0.002469  0.003344
2021-08-12  0.018469  0.005694  0.000403
2021-08-13  0.000873  0.003786  0.001004

[253 rows x 3 columns]

In [90]:
headers = pd.MultiIndex.from_product([['Percent Daily Change'], df_percent_daily_change.columns])
df_percent_daily_change = pd.DataFrame(df_percent_daily_change.values, df_percent_daily_change.index, columns = headers)
df_percent_daily_change

           Percent Daily Change
                           AAPL       IBM       WMT
Date
2020-08-13                  NaN       NaN       NaN
2020-08-14             0.000675  0.008615  0.001965
2020-08-17            -0.012536 -0.006467  0.009304
2020-08-18             0.010581 -0.000640 -0.010722
2020-08-19            -0.002371 -0.007931 -0.013412
...                         ...       ...       ...
2021-08-09            -0.000752 -0.006681 -0.002262
2021-08-10            -0.005736  0.001204  0.011635
2021-08-11            -0.001301  0.002469  0.003344
2021-08-12             0.018469  0.005694  0.000403
2021-08-13             0.000873  0.003786  0.001004

[253 rows x 3 columns]

In [91]:
selection = pd.concat([selection, df_percent_daily_change], axis=1, join="inner")

In [92]:
selection

             Adj Close                               Close              \
                  AAPL         IBM         WMT        AAPL         IBM
Date
2020-08-13         NaN         NaN         NaN         NaN         NaN
2020-08-14  114.173164  119.133232  130.572586  114.907501  125.269997
2020-08-17  113.875069  118.343887  133.526718  114.607498  124.440002
2020-08-18  114.823975  118.800369  132.650330  115.562500  124.919998
2020-08-19  114.968048  117.773285  130.385498  115.707497  123.839996
...                ...         ...         ...         ...         ...
2021-08-09  146.089996  141.250000  145.046249  146.089996  141.250000
2021-08-10  145.600006  141.380005  148.134872  145.600006  141.380005
2021-08-11  145.860001  142.130005  149.459991  145.860001  142.130005
2021-08-12  148.889999  143.070007  149.059998  148.889999  143.070007
2021-08-13  149.100006  143.179993  149.529999  149.100006  143.179993

                              High                                 Low  ...  \
                   WMT        AAPL         IBM         WMT        AAPL  ...
Date                                                                    ...
2020-08-13         NaN         NaN         NaN         NaN         NaN  ...
2020-08-14  132.600006  115.000000  125.559998  132.970001  113.044998  ...
2020-08-17  135.600006  116.087502  125.589996  136.130005  113.962502  ...
2020-08-18  134.710007  116.000000  125.500000  137.630005  114.007500  ...
2020-08-19  132.410004  117.162498  125.500000  134.660004  115.610001  ...
...                ...         ...         ...         ...         ...  ...
2021-08-09  145.580002  146.699997  142.500000  146.479996  145.520004  ...
2021-08-10  148.679993  147.710007  141.809998  148.949997  145.300003  ...
2021-08-11  150.009995  146.720001  142.770004  151.580002  145.529999  ...
2021-08-12  149.059998  149.050003  143.149994  150.210007  145.839996  ...
2021-08-13  149.529999  149.440002  143.580002  150.360001  148.270004  ...

                  Open       Volume                        Daily Change  \
                   WMT         AAPL        IBM         WMT         AAPL
Date
2020-08-13         NaN          NaN        NaN         NaN          NaN
2020-08-14  132.339996  165565200.0  2963400.0   6702100.0     0.077499
2020-08-17  134.350006  119561600.0  3360100.0  13155000.0    -1.455002
2020-08-18  136.169998  105633600.0  2882400.0  26744200.0     1.209999
2020-08-19  134.210007  145538000.0  3743900.0  12718400.0    -0.275002
...                ...          ...        ...         ...          ...
2021-08-09  145.910004   48908700.0  4904100.0   5270600.0    -0.110001
2021-08-10  146.970001   69023100.0  5299900.0  12754000.0    -0.839996
2021-08-11  149.509995   48493500.0  4260000.0  13818600.0    -0.190002
2021-08-12  149.000000   72282600.0  2088700.0   6089700.0     2.699997
2021-08-13  149.380005   59318800.0  1910100.0   5321900.0     0.130005

                               Percent Daily Change
                 IBM       WMT                 AAPL       IBM       WMT
Date
2020-08-13       NaN       NaN                  NaN       NaN       NaN
2020-08-14  1.070000  0.260010             0.000675  0.008615  0.001965
2020-08-17 -0.809998  1.250000            -0.012536 -0.006467  0.009304
2020-08-18 -0.080002 -1.459991             0.010581 -0.000640 -0.010722
2020-08-19 -0.990005 -1.800003            -0.002371 -0.007931 -0.013412
...              ...       ...                  ...       ...       ...
2021-08-09 -0.949997 -0.330002            -0.000752 -0.006681 -0.002262
2021-08-10  0.169998  1.709991            -0.005736  0.001204  0.011635
2021-08-11  0.350006  0.500000            -0.001301  0.002469  0.003344
2021-08-12  0.810013  0.059998             0.018469  0.005694  0.000403
2021-08-13  0.539993  0.149994             0.000873  0.003786  0.001004

[253 rows x 24 columns]

In [93]:
# selection['Delta']['AAPL'] = selection['High']['AAPL'] - selection['Low']['AAPL']
selection['Daily Change']

                AAPL       IBM       WMT
Date
2020-08-13       NaN       NaN       NaN
2020-08-14  0.077499  1.070000  0.260010
2020-08-17 -1.455002 -0.809998  1.250000
2020-08-18  1.209999 -0.080002 -1.459991
2020-08-19 -0.275002 -0.990005 -1.800003
...              ...       ...       ...
2021-08-09 -0.110001 -0.949997 -0.330002
2021-08-10 -0.839996  0.169998  1.709991
2021-08-11 -0.190002  0.350006  0.500000
2021-08-12  2.699997  0.810013  0.059998
2021-08-13  0.130005  0.539993  0.149994

[253 rows x 3 columns]