In [174]:
# library information:

import os
# It is the fundamental library of python, used to perform scientific computing. 
# It provides high-performance multidimensional arrays and tools to deal with them.
import numpy as np
# Pandas provide high performance, fast, easy to use data structures and data analysis tools for manipulating 
# numeric data and time series. Pandas is built on the numpy library and written in languages like Python.
import pandas as pd
# import library to read date range for stock ticker historical data range
import datetime
import json

import alpaca_trade_api as tradeapi

from dotenv import load_dotenv
# import ipynb.fs.full
# https://stackoverflow.com/questions/44116194/import-a-function-from-another-ipynb-file
# from ipynb.fs.full.test_sr import *
# from ipynb.fs.full.date_functions import *
# from ipynb.fs.full.my_functions import *

# since functions will be in a different folder, import library to read path info
import sys
sys.path.append('Saeed/functions/')
sys.path.append('Saeed/functions/utils/')
# and now import my functions
from test_sr import *
from date_functions import *
from my_functions import *

# ===================================================================================================
# http://theautomatic.net/yahoo_fin-documentation/
# pip install yahoo-fin
# import yahoo_fin.stock_info as si

# import data libraries to read date range for stock ticker historical data range
# from datetime import date

# other libraries
# import pandas_datareader as pdr
%matplotlib inline

In [175]:
# test call to function in a different folder
display_greeting("Saeed")

... hello from Saeed

In [176]:
# Load .env environment variables
load_dotenv()

True

In [177]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [178]:
# Verify that Alpaca key and secret were correctly loaded
print(f"Alpaca Key type: {type(alpaca_api_key)}")
print(f"Alpaca Secret Key type: {type(alpaca_secret_key)}")

Alpaca Key type: <class 'str'>
Alpaca Secret Key type: <class 'str'>

In [179]:
# Create the Alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [180]:
# format current date as ISO format
this_moment = datetime.datetime.now()
this_moment

datetime.datetime(2021, 8, 13, 12, 12, 48, 960477)

In [181]:
# number of days for which we need data. for 200SMA we should atleast get 250 days
num_of_days = 365    # 365 - Get atleast a year's worth of data.
num_of_days

365

In [182]:
# get the begin date for the date range.
start_date = get_begin_date(this_moment, num_of_days)
start_date

# start_date.strftime("%m/%d/%y")
# start_date = str(datetime.datetime.now() - datetime.timedelta(days=1*num_of_days))
# start_date

'2020-08-13'

In [183]:
# get the end date for the date range
finish_date = str(this_moment).split()[0]
finish_date

# = current_date
# end_date
# current_date = date.today()
# current_date.strftime("%m/%d/%y")
# end_date = current_date

'2021-08-13'

In [184]:
# conver date to ISO format
begin_date = pd.Timestamp(start_date, tz="America/New_York").isoformat()
begin_date

'2020-08-13T00:00:00-04:00'

In [185]:
end_date = pd.Timestamp(finish_date, tz="America/New_York").isoformat()
end_date

'2021-08-13T00:00:00-04:00'

In [191]:
# get tickers for "dow" or "sp500" or "nasdaq" one at a time

# dow30 has 30 symbols
tickers_dow = get_tickers("dow")
choice = "dow"
# tickers_dow

# sp500 has 505 symbols
# tickers_sp500 = get_tickers("sp500")
# choice = "sp500"
# tickers_sp500

# nasdaq has 4942 symbols
# tickers_nasdaq = get_tickers("nasdaq")
# choice = "nasdaq"
# tickers_nasdaq

# if we decide to use more than one market index, we must remove duplicates
# all_tickers = list(set(tickers_dow + tickers_sp500)) 

all_tickers = tickers_dow
# all_tickers = tickers_sp500
# all_tickers = tickers_nasdaq
# all_tickers = ["AAPL", "AMZN", "IBM", "V", "VZ"]     # ["AAPL", "V", "WMT"]
# choice = "sample"

# print(all_tickers)
type(all_tickers)

list

In [192]:
# split list of tickers

the_list = all_tickers
if choice == "sp500":                # change to sp500 after testing
    chunk_size = 100
    # the_list = all_tickers
    if len(all_tickers) > chunk_size:
        the_list = split_my_list(all_tickers, chunk_size)
        #print("Saeed")
# print(the_list)
type(the_list)

list

In [193]:
print(the_list[0])
type(the_list[0])

AAPL

str

In [194]:
# Set timeframe to one day ('1D') for the Alpaca API
timeframe = "1D"
timeframe

'1D'

In [195]:
# Get current historical data tickers in the list
# df_historical_data

# for i in range(len(the_list)):
# #    list[i] = the_list[i]

#     df_historical_data = alpaca.get_barset(
#         the_list[i],
#         timeframe,
#         start = begin_date,
#         end = end_date
#     ).df
    
#     if i == 0:
#         new_df = df_historical_data_aapl
#     else:
#         new_df = pd.concat([new_df, df_historical_data_wmt], axis=1, join="inner")

# Figure out looping here ...
if choice == "sp500":                   # change to sp500 after testing
    final_df_1 = alpaca.get_barset(
         the_list[0],
         timeframe,
         start = begin_date,
         end = end_date
    ).df
        
    final_df_2 = df_historical_data_wmt = alpaca.get_barset(
        the_list[1],
        timeframe,
        start = begin_date,
        end = end_date
    ).df
    
    final_df_3 = alpaca.get_barset(
         the_list[2],
         timeframe,
         start = begin_date,
         end = end_date
    ).df
    
    final_df_4 = alpaca.get_barset(
         the_list[3],
         timeframe,
         start = begin_date,
         end = end_date
    ).df
    
    final_df_5 = alpaca.get_barset(
         the_list[4],
         timeframe,
         start = begin_date,
         end = end_date
    ).df
    
    final_df_6 = alpaca.get_barset(
         the_list[5],
         timeframe,
         start = begin_date,
         end = end_date
    ).df    
    
    final_df = pd.concat([final_df_1, final_df_2, final_df_3, final_df_4, final_df_5, final_df_6], axis=1, join="inner")
else:
    final_df = alpaca.get_barset(
        the_list,
        timeframe,
        start = begin_date,
        end = end_date
    ).df


# Display sample data
final_df                   # only get a 100 days worth of data ...

                             AAPL                                          \
                             open      high       low     close    volume
time
2021-03-24 00:00:00-04:00  122.82  122.9000  120.0650  120.0700  78958064
2021-03-25 00:00:00-04:00  119.54  121.6600  119.0000  120.6300  89156937
2021-03-26 00:00:00-04:00  120.35  121.4800  118.9200  121.2100  79186956
2021-03-29 00:00:00-04:00  121.65  122.5800  120.7299  121.3900  70495825
2021-03-30 00:00:00-04:00  120.11  120.4031  118.8600  119.8800  76566683
...                           ...       ...       ...       ...       ...
2021-08-09 00:00:00-04:00  146.23  146.7000  145.5200  146.0900  39789209
2021-08-10 00:00:00-04:00  146.46  147.7100  145.3000  145.6100  58788673
2021-08-11 00:00:00-04:00  146.07  146.7200  145.5300  145.9100  44305648
2021-08-12 00:00:00-04:00  146.20  149.0500  145.8400  148.8850  65367573
2021-08-13 00:00:00-04:00  148.97  149.4444  148.2700  148.9123  40250410

                             AMGN                                      ...  \
                             open      high     low    close   volume  ...
time                                                                   ...
2021-03-24 00:00:00-04:00  244.30  247.3890  243.82  245.650  1788083  ...
2021-03-25 00:00:00-04:00  247.03  247.5400  244.98  246.250  1701692  ...
2021-03-26 00:00:00-04:00  245.97  253.2800  245.54  252.910  1987554  ...
2021-03-29 00:00:00-04:00  251.53  256.5950  251.45  254.960  1979007  ...
2021-03-30 00:00:00-04:00  253.09  254.0075  248.83  249.750  1596530  ...
...                           ...       ...     ...      ...      ...  ...
2021-08-09 00:00:00-04:00  230.39  231.4000  227.22  227.860  1710508  ...
2021-08-10 00:00:00-04:00  227.85  228.2000  223.94  227.960  2498417  ...
2021-08-11 00:00:00-04:00  229.91  230.0000  227.49  228.150  1841917  ...
2021-08-12 00:00:00-04:00  228.30  229.4800  225.81  228.150  1565659  ...
2021-08-13 00:00:00-04:00  229.08  231.8900  228.76  230.465   647580  ...

                             WBA                                        WMT  \
                            open     high      low   close   volume    open
time
2021-03-24 00:00:00-04:00  52.66  53.3300  51.7500  51.770  4042801  134.50
2021-03-25 00:00:00-04:00  50.94  51.8800  50.2887  51.700  5181596  133.26
2021-03-26 00:00:00-04:00  51.90  52.8100  51.1600  52.020  4390387  134.00
2021-03-29 00:00:00-04:00  52.11  52.9800  51.6600  52.880  4369584  135.00
2021-03-30 00:00:00-04:00  52.55  53.2700  52.2350  53.110  4285656  136.55
...                          ...      ...      ...     ...      ...     ...
2021-08-09 00:00:00-04:00  47.19  47.7600  47.0920  47.445  3221502  145.91
2021-08-10 00:00:00-04:00  47.61  48.4900  47.4100  48.440  4076397  146.99
2021-08-11 00:00:00-04:00  48.66  49.8450  48.4601  49.750  7042028  149.51
2021-08-12 00:00:00-04:00  49.98  50.0700  49.0750  49.320  3090436  149.09
2021-08-13 00:00:00-04:00  49.33  49.6245  49.0800  49.450  2284685  149.74


                               high      low     close    volume
time
2021-03-24 00:00:00-04:00  134.4300  133.050  133.1200   6967828
2021-03-25 00:00:00-04:00  134.5301  132.870  134.0100   8260488
2021-03-26 00:00:00-04:00  135.2000  133.421  135.0699   7905753
2021-03-29 00:00:00-04:00  137.0100  134.600  136.6700   8713337
2021-03-30 00:00:00-04:00  137.5900  134.940  135.7200   7889720
...                             ...      ...       ...       ...
2021-08-09 00:00:00-04:00  146.4800  145.400  145.5800   4670151
2021-08-10 00:00:00-04:00  148.9500  146.250  148.6800  11676139
2021-08-11 00:00:00-04:00  151.5800  149.160  150.0100  12852300
2021-08-12 00:00:00-04:00  150.2100  148.810  149.0600   5608125
2021-08-13 00:00:00-04:00  150.3600  149.160  149.2700   2890503

[100 rows x 150 columns]

In [173]:
# save the data
# json = final_df("hist_data.json")
# save the file for future read
with open('resources/data/hist_data.json', 'w') as outfile:
    json.dump(final_df.to_json(), outfile)

In [ ]:
# how do I read ?
# my_file = open('resources/data/hist_data.json', 'r')
# json_data = my_file.read()
# json_data
# df_a = json_data.df
# df_a
# with open('resources/data/hist_data.json', 'r') as infile:
#     data_read = json.load(infile)
# # df_a = pd.data_read
# # for i in range(0, len(data_read)):
# #     print(data_read[i])
# # data_read.splitlines()
# df_a = pd.DataFrame.from_dict(pd.json_normalize(data_read), orient='columns')
# df_a

In [ ]:
# create a blank dictionary
historical_data_for_all_tickers = {}

# myData = pdr.get_data_yahoo('AAPL', start_date)
# myData

# iterate for each ticker
for ticker in all_tickers:
#    historical_data_for_all_tickers[ticker] = si.get_data(ticker, start_date = '07/01/2021',  end_date = '08/10/2021')
     historical_data_for_all_tickers[ticker] = si.get_data(ticker, begin_date,  end_date)
# historical_data_for_all_tickers

In [ ]:
# convert to data frame
df = pd.DataFrame(columns = ['open', 'high', 'low', 'close', 'adjclose', 'volume', 'ticker'])

df_hist_date_all_tickers = create_dataframe(historical_data_for_all_tickers, df)
df_hist_date_all_tickers

In [ ]:
# a = np.array(['a', 'b', 'c', 'd'])

# ser = pd.Series(a)
# ser

# df1 = {
#     "AAPL": {
#     "open": [1,2,3,4,5,6,7,8,9]
#     "close": [2,3,4,5,6,7,8,9,1]}
#     "MSFT": 
#     {"open": [1,2,3,4,5,6,7,8,9]
#     "close": [2,3,4,5,6,7,8,9,1]}
# }

# df1