In [1]:
# library information:

import os
# It is the fundamental library of python, used to perform scientific computing. 
# It provides high-performance multidimensional arrays and tools to deal with them.
import numpy as np
# Pandas provide high performance, fast, easy to use data structures and data analysis tools for manipulating 
# numeric data and time series. Pandas is built on the numpy library and written in languages like Python.
import pandas as pd
# import library to read date range for stock ticker historical data range
import datetime

import alpaca_trade_api as tradeapi

from dotenv import load_dotenv
# import ipynb.fs.full
# https://stackoverflow.com/questions/44116194/import-a-function-from-another-ipynb-file
# from ipynb.fs.full.test_sr import *
# from ipynb.fs.full.date_functions import *
# from ipynb.fs.full.my_functions import *

# since functions will be in a different folder, import library to read path info
import sys
sys.path.append('Saeed/functions/')
sys.path.append('Saeed/functions/utils/')
# and now import my functions
from test_sr import *
from date_functions import *
from my_functions import *

# ===================================================================================================
# http://theautomatic.net/yahoo_fin-documentation/
# pip install yahoo-fin
# import yahoo_fin.stock_info as si

# import data libraries to read date range for stock ticker historical data range
# from datetime import date

# other libraries
# import pandas_datareader as pdr
# %matplotlib inline

In [2]:
# test call to function in a different folder
display_greeting("Saeed")

... hello from Saeed

In [3]:
# Load .env environment variables
load_dotenv()

True

In [4]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [5]:
# Verify that Alpaca key and secret were correctly loaded
print(f"Alpaca Key type: {type(alpaca_api_key)}")
print(f"Alpaca Secret Key type: {type(alpaca_secret_key)}")

Alpaca Key type: <class 'str'>
Alpaca Secret Key type: <class 'str'>

In [15]:
# Create the Alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [16]:
# format current date as ISO format
this_moment = datetime.datetime.now()
this_moment

datetime.datetime(2021, 8, 13, 0, 46, 7, 647253)

In [36]:
# number of days for which we need data. for 200SMA we should atleast get 250 days
num_of_days = 5    # 365 - Get atleast a year's worth of data.
num_of_days

5

In [42]:
# get the begin date for the date range.
start_date = get_begin_date(this_moment, num_of_days)
start_date

# start_date.strftime("%m/%d/%y")
# start_date = str(datetime.datetime.now() - datetime.timedelta(days=1*num_of_days))
# start_date

'2021-08-08'

In [43]:
# get the end date for the date range
finish_date = str(this_moment).split()[0]
finish_date

# = current_date
# end_date
# current_date = date.today()
# current_date.strftime("%m/%d/%y")
# end_date = current_date

'2021-08-13'

In [44]:
# conver date to ISO format
begin_date = pd.Timestamp(start_date, tz="America/New_York").isoformat()
begin_date

'2021-08-08T00:00:00-04:00'

In [45]:
end_date = pd.Timestamp(finish_date, tz="America/New_York").isoformat()
end_date

'2021-08-13T00:00:00-04:00'

In [46]:
# get tickers for "dow" or "sp500" or "nasdaq" one at a time
tickers_dow = get_tickers("dow")
# tickers_dow

tickers_sp500 = get_tickers("sp500")
# tickers_sp500

# if we decide to use more than one index, we must remove duplicates
# all_tickers = list(set(tickers_dow + tickers_sp500)) 
# all_tickers = tickers_dow
# all_tickers = tickers_sp500
all_tickers = ["AAPL", "V", "WMT"]
all_tickers

['AAPL', 'V', 'WMT']

In [48]:
# Set timeframe to one day ('1D') for the Alpaca API
timeframe = "1D"
timeframe

'1D'

In [50]:
# Get current closing prices for FB and TWTR
df_historical_data = alpaca.get_barset(
    all_tickers,
    timeframe,
    start = begin_date,
    end = end_date
).df

# Display sample data
df_historical_data

                             AAPL                                          V  \
                             open    high     low    close    volume    open
time
2021-08-09 00:00:00-04:00  146.23  146.70  145.52  146.090  39789209  241.95
2021-08-10 00:00:00-04:00  146.46  147.71  145.30  145.610  58788673  240.41
2021-08-11 00:00:00-04:00  146.07  146.72  145.53  145.910  44305648  238.08
2021-08-12 00:00:00-04:00  146.20  149.05  145.84  148.885  65367573  233.97

                                                               WMT          \
                             high     low   close   volume    open    high
time
2021-08-09 00:00:00-04:00  242.18  238.05  240.06  4266407  145.91  146.48
2021-08-10 00:00:00-04:00  241.34  235.56  238.10  6516750  146.99  148.95
2021-08-11 00:00:00-04:00  238.36  234.58  235.05  6683179  149.51  151.58
2021-08-12 00:00:00-04:00  234.11  231.02  231.82  9046538  149.09  150.21


                              low   close    volume
time
2021-08-09 00:00:00-04:00  145.40  145.58   4670151
2021-08-10 00:00:00-04:00  146.25  148.68  11676139
2021-08-11 00:00:00-04:00  149.16  150.01  12852300
2021-08-12 00:00:00-04:00  148.81  149.06   5608125

In [27]:
# create a blank dictionary
historical_data_for_all_tickers = {}

# myData = pdr.get_data_yahoo('AAPL', start_date)
# myData

# iterate for each ticker
for ticker in all_tickers:
#    historical_data_for_all_tickers[ticker] = si.get_data(ticker, start_date = '07/01/2021',  end_date = '08/10/2021')
     historical_data_for_all_tickers[ticker] = si.get_data(ticker, begin_date,  end_date)
# historical_data_for_all_tickers

In [28]:
# convert to data frame
df = pd.DataFrame(columns = ['open', 'high', 'low', 'close', 'adjclose', 'volume', 'ticker'])

df_hist_date_all_tickers = create_dataframe(historical_data_for_all_tickers, df)
df_hist_date_all_tickers

,open,high,low,close,adjclose,volume,ticker
2021-08-09,146.199997,146.699997,145.520004,146.089996,146.089996,48908700,AAPL
2021-08-10,146.440002,147.710007,145.300003,145.600006,145.600006,68922200,AAPL
2021-08-11,146.050003,146.720001,145.529999,145.860001,145.860001,48422100,AAPL
2021-08-12,146.190002,149.050003,145.839996,148.889999,148.889999,72282600,AAPL
2021-08-09,230.520004,231.399994,227.220001,227.889999,227.889999,2250300,AMGN
...,...,...,...,...,...,...,...
2021-08-12,50.000000,50.070000,49.080002,49.320000,49.320000,3631100,WBA
2021-08-09,145.910004,146.479996,145.399994,145.580002,145.046249,5270600,WMT
2021-08-10,146.970001,148.949997,146.250000,148.679993,148.134872,12721500,WMT
2021-08-11,149.509995,151.580002,149.160004,150.009995,149.459991,13814400,WMT
2021-08-12,149.000000,150.210007,148.809998,149.059998,149.059998,6089700,WMT

In [ ]:
# a = np.array(['a', 'b', 'c', 'd'])

# ser = pd.Series(a)
# ser

# df1 = {
#     "AAPL": {
#     "open": [1,2,3,4,5,6,7,8,9]
#     "close": [2,3,4,5,6,7,8,9,1]}
#     "MSFT": 
#     {"open": [1,2,3,4,5,6,7,8,9]
#     "close": [2,3,4,5,6,7,8,9,1]}
# }

# df1