In [59]:
# Import necessary libraries
import pandas as pd, shutil, os
import yfinance as yf
import datetime as dt
import numpy as np
from pathlib import Path
import json

In [60]:
# Get S&P 500 tickers
sp500_tickers = pd.read_html("https://en.wikipedia.org/wiki/List_of_S%26P_500_companies")[0]
sp500_tickers = sp500_tickers.Symbol.to_list()
# sp500_tickers

In [61]:
# Clean Tickers of periods
sp500_tickers = [x.replace(".", "-") for x in sp500_tickers]
# sp500_tickers

In [62]:
# Define Start and End dates for hist. data(5 yr)
end_date = dt.datetime.now().date().isoformat()
start_date = dt.datetime.now() - dt.timedelta(weeks=26)
start_date = start_date.date().isoformat()
start_date

'2021-02-14'

In [63]:
# Removes old Stock_Data folder and replaces it with a new, empty one
shutil.rmtree("Stock_Data")
os.mkdir("Stock_Data")

FileNotFoundError: [WinError 3] The system cannot find the path specified: 'Stock_Data'

In [64]:
sp_data = yf.download(sp5_tickers, period="5d", group_by="Ticker")
sp_data

[*********************100%***********************]  5 of 5 completed

                  ABMD                                                  \
                  Open        High         Low       Close   Adj Close
Date
2021-08-09  345.000000  350.000000  342.950012  346.649994  346.649994
2021-08-10  347.899994  348.000000  332.410004  332.700012  332.700012
2021-08-11  330.700012  334.670013  315.720001  319.880005  319.880005
2021-08-12  318.279999  326.179993  318.279999  322.170013  322.170013
2021-08-13  320.899994  324.920013  319.420013  321.649994  321.649994

                          ABBV                                      ...  \
            Volume        Open        High         Low       Close  ...
Date                                                                ...
2021-08-09  224100  114.580002  115.190002  113.739998  114.059998  ...
2021-08-10  220700  114.199997  115.029999  112.919998  114.820000  ...
2021-08-11  314500  115.160004  115.339996  113.550003  113.720001  ...
2021-08-12  199600  113.959999  115.730003  113.910004  115.639999  ...
2021-08-13   88400  115.820000  116.760002  115.699997  116.480003  ...

                   ACN                                          ABT  \
                   Low       Close   Adj Close   Volume        Open
Date
2021-08-09  319.380005  319.519989  319.519989  1225100  122.389999
2021-08-10  319.059998  320.179993  320.179993   918900  123.349998
2021-08-11  317.079987  319.790009  319.790009  1841600  122.839996
2021-08-12  318.640015  321.760010  321.760010   910900  121.180000
2021-08-13  321.579987  323.450012  323.450012   970300  122.720001


                  High         Low       Close   Adj Close   Volume
Date
2021-08-09  123.260002  122.029999  123.160004  123.160004  4271200
2021-08-10  123.559998  122.099998  122.699997  122.699997  4356900
2021-08-11  123.400002  121.349998  121.459999  121.459999  3683100
2021-08-12  123.250000  121.000000  122.809998  122.809998  3023600
2021-08-13  123.230003  122.339996  123.059998  123.059998  3475100

[5 rows x 30 columns]

In [65]:
csv_path = Path("Stock_Data/Stock_Data.json")

In [66]:
stock_dict = {}

In [67]:
sp_data_j = sp_data.to_json()

In [68]:
type(stock_dict)

dict

In [69]:
type(sp_data_j)

str

In [70]:
sp_data_j = json.loads(sp_data_j)
type(sp_data_j)

dict

In [71]:
print(json.dumps(sp_data_j, indent=4))

{
    "('ABMD', 'Open')": {
        "1628467200000": 345.0,
        "1628553600000": 347.8999938965,
        "1628640000000": 330.700012207,
        "1628726400000": 318.2799987793,
        "1628812800000": 320.8999938965
    },
    "('ABMD', 'High')": {
        "1628467200000": 350.0,
        "1628553600000": 348.0,
        "1628640000000": 334.6700134277,
        "1628726400000": 326.1799926758,
        "1628812800000": 324.9200134277
    },
    "('ABMD', 'Low')": {
        "1628467200000": 342.950012207,
        "1628553600000": 332.4100036621,
        "1628640000000": 315.7200012207,
        "1628726400000": 318.2799987793,
        "1628812800000": 319.4200134277
    },
    "('ABMD', 'Close')": {
        "1628467200000": 346.6499938965,
        "1628553600000": 332.700012207,
        "1628640000000": 319.8800048828,
        "1628726400000": 322.1700134277,
        "1628812800000": 321.6499938965
    },
    "('ABMD', 'Adj Close')": {
        "1628467200000": 346.6499938965,
        "1628553600000": 332.700012207,
        "1628640000000": 319.8800048828,
        "1628726400000": 322.1700134277,
        "1628812800000": 321.6499938965
    },
    "('ABMD', 'Volume')": {
        "1628467200000": 224100,
        "1628553600000": 220700,
        "1628640000000": 314500,
        "1628726400000": 199600,
        "1628812800000": 88400
    },
    "('ABBV', 'Open')": {
        "1628467200000": 114.5800018311,
        "1628553600000": 114.1999969482,
        "1628640000000": 115.1600036621,
        "1628726400000": 113.9599990845,
        "1628812800000": 115.8199996948
    },
    "('ABBV', 'High')": {
        "1628467200000": 115.1900024414,
        "1628553600000": 115.0299987793,
        "1628640000000": 115.3399963379,
        "1628726400000": 115.7300033569,
        "1628812800000": 116.7600021362
    },
    "('ABBV', 'Low')": {
        "1628467200000": 113.7399978638,
        "1628553600000": 112.9199981689,
        "1628640000000": 113.5500030518,
        "1628726400000": 113.9100036621,
        "1628812800000": 115.6999969482
    },
    "('ABBV', 'Close')": {
        "1628467200000": 114.0599975586,
        "1628553600000": 114.8199996948,
        "1628640000000": 113.7200012207,
        "1628726400000": 115.6399993896,
        "1628812800000": 116.4800033569
    },
    "('ABBV', 'Adj Close')": {
        "1628467200000": 114.0599975586,
        "1628553600000": 114.8199996948,
        "1628640000000": 113.7200012207,
        "1628726400000": 115.6399993896,
        "1628812800000": 116.4800033569
    },
    "('ABBV', 'Volume')": {
        "1628467200000": 5277900,
        "1628553600000": 5120800,
        "1628640000000": 6840400,
        "1628726400000": 4863600,
        "1628812800000": 4415700
    },
    "('MMM', 'Open')": {
        "1628467200000": 197.6499938965,
        "1628553600000": 198.2400054932,
        "1628640000000": 200.0,
        "1628726400000": 201.4799957275,
        "1628812800000": 201.2299957275
    },
    "('MMM', 'High')": {
        "1628467200000": 198.1499938965,
        "1628553600000": 199.4900054932,
        "1628640000000": 201.7700042725,
        "1628726400000": 202.3699951172,
        "1628812800000": 201.7100067139
    },
    "('MMM', 'Low')": {
        "1628467200000": 196.7799987793,
        "1628553600000": 197.6999969482,
        "1628640000000": 199.3099975586,
        "1628726400000": 200.3600006104,
        "1628812800000": 200.2899932861
    },
    "('MMM', 'Close')": {
        "1628467200000": 197.4299926758,
        "1628553600000": 199.25,
        "1628640000000": 201.5700073242,
        "1628726400000": 201.4299926758,
        "1628812800000": 200.5800018311
    },
    "('MMM', 'Adj Close')": {
        "1628467200000": 197.4299926758,
        "1628553600000": 199.25,
        "1628640000000": 201.5700073242,
        "1628726400000": 201.4299926758,
        "1628812800000": 200.5800018311
    },
    "('MMM', 'Volume')": {
        "1628467200000": 1193300,
        "1628553600000": 1598400,
        "1628640000000": 2217400,
        "1628726400000": 1231800,
        "1628812800000": 1910700
    },
    "('ACN', 'Open')": {
        "1628467200000": 322.0100097656,
        "1628553600000": 319.9700012207,
        "1628640000000": 320.6199951172,
        "1628726400000": 319.700012207,
        "1628812800000": 322.1900024414
    },
    "('ACN', 'High')": {
        "1628467200000": 322.2600097656,
        "1628553600000": 322.0599975586,
        "1628640000000": 320.8599853516,
        "1628726400000": 321.8299865723,
        "1628812800000": 324.0400085449
    },
    "('ACN', 'Low')": {
        "1628467200000": 319.3800048828,
        "1628553600000": 319.0599975586,
        "1628640000000": 317.0799865723,
        "1628726400000": 318.6400146484,
        "1628812800000": 321.5799865723
    },
    "('ACN', 'Close')": {
        "1628467200000": 319.5199890137,
        "1628553600000": 320.1799926758,
        "1628640000000": 319.7900085449,
        "1628726400000": 321.7600097656,
        "1628812800000": 323.450012207
    },
    "('ACN', 'Adj Close')": {
        "1628467200000": 319.5199890137,
        "1628553600000": 320.1799926758,
        "1628640000000": 319.7900085449,
        "1628726400000": 321.7600097656,
        "1628812800000": 323.450012207
    },
    "('ACN', 'Volume')": {
        "1628467200000": 1225100,
        "1628553600000": 918900,
        "1628640000000": 1841600,
        "1628726400000": 910900,
        "1628812800000": 970300
    },
    "('ABT', 'Open')": {
        "1628467200000": 122.3899993896,
        "1628553600000": 123.3499984741,
        "1628640000000": 122.8399963379,
        "1628726400000": 121.1800003052,
        "1628812800000": 122.7200012207
    },
    "('ABT', 'High')": {
        "1628467200000": 123.2600021362,
        "1628553600000": 123.5599975586,
        "1628640000000": 123.4000015259,
        "1628726400000": 123.25,
        "1628812800000": 123.2300033569
    },
    "('ABT', 'Low')": {
        "1628467200000": 122.0299987793,
        "1628553600000": 122.0999984741,
        "1628640000000": 121.3499984741,
        "1628726400000": 121.0,
        "1628812800000": 122.3399963379
    },
    "('ABT', 'Close')": {
        "1628467200000": 123.1600036621,
        "1628553600000": 122.6999969482,
        "1628640000000": 121.4599990845,
        "1628726400000": 122.8099975586,
        "1628812800000": 123.0599975586
    },
    "('ABT', 'Adj Close')": {
        "1628467200000": 123.1600036621,
        "1628553600000": 122.6999969482,
        "1628640000000": 121.4599990845,
        "1628726400000": 122.8099975586,
        "1628812800000": 123.0599975586
    },
    "('ABT', 'Volume')": {
        "1628467200000": 4271200,
        "1628553600000": 4356900,
        "1628640000000": 3683100,
        "1628726400000": 3023600,
        "1628812800000": 3475100
    }
}

In [72]:
# reading the JSON data using json.load()
# file = 'data.json'
# with open(file) as train_file:
#     dict_train = json.load(train_file)

# converting json dataset from dictionary to dataframe
train = pd.DataFrame.from_dict(sp_data_j, orient='index')
train.reset_index(level=0, inplace=True)

In [73]:
train

,index,1628467200000,1628553600000,1628640000000,1628726400000,1628812800000
0,"('ABMD', 'Open')",3.450000e+02,3.479000e+02,3.307000e+02,3.182800e+02,3.209000e+02
1,"('ABMD', 'High')",3.500000e+02,3.480000e+02,3.346700e+02,3.261800e+02,3.249200e+02
2,"('ABMD', 'Low')",3.429500e+02,3.324100e+02,3.157200e+02,3.182800e+02,3.194200e+02
3,"('ABMD', 'Close')",3.466500e+02,3.327000e+02,3.198800e+02,3.221700e+02,3.216500e+02
4,"('ABMD', 'Adj Close')",3.466500e+02,3.327000e+02,3.198800e+02,3.221700e+02,3.216500e+02
5,"('ABMD', 'Volume')",2.241000e+05,2.207000e+05,3.145000e+05,1.996000e+05,8.840000e+04
6,"('ABBV', 'Open')",1.145800e+02,1.142000e+02,1.151600e+02,1.139600e+02,1.158200e+02
7,"('ABBV', 'High')",1.151900e+02,1.150300e+02,1.153400e+02,1.157300e+02,1.167600e+02
8,"('ABBV', 'Low')",1.137400e+02,1.129200e+02,1.135500e+02,1.139100e+02,1.157000e+02
9,"('ABBV', 'Close')",1.140600e+02,1.148200e+02,1.137200e+02,1.156400e+02,1.164800e+02
10,"('ABBV', 'Adj Close')",1.140600e+02,1.148200e+02,1.137200e+02,1.156400e+02,1.164800e+02
11,"('ABBV', 'Volume')",5.277900e+06,5.120800e+06,6.840400e+06,4.863600e+06,4.415700e+06
12,"('MMM', 'Open')",1.976500e+02,1.982400e+02,2.000000e+02,2.014800e+02,2.012300e+02
13,"('MMM', 'High')",1.981500e+02,1.994900e+02,2.017700e+02,2.023700e+02,2.017100e+02
14,"('MMM', 'Low')",1.967800e+02,1.977000e+02,1.993100e+02,2.003600e+02,2.002900e+02
15,"('MMM', 'Close')",1.974300e+02,1.992500e+02,2.015700e+02,2.014300e+02,2.005800e+02
16,"('MMM', 'Adj Close')",1.974300e+02,1.992500e+02,2.015700e+02,2.014300e+02,2.005800e+02
17,"('MMM', 'Volume')",1.193300e+06,1.598400e+06,2.217400e+06,1.231800e+06,1.910700e+06
18,"('ACN', 'Open')",3.220100e+02,3.199700e+02,3.206200e+02,3.197000e+02,3.221900e+02
19,"('ACN', 'High')",3.222600e+02,3.220600e+02,3.208600e+02,3.218300e+02,3.240400e+02
20,"('ACN', 'Low')",3.193800e+02,3.190600e+02,3.170800e+02,3.186400e+02,3.215800e+02
21,"('ACN', 'Close')",3.195200e+02,3.201800e+02,3.197900e+02,3.217600e+02,3.234500e+02
22,"('ACN', 'Adj Close')",3.195200e+02,3.201800e+02,3.197900e+02,3.217600e+02,3.234500e+02
23,"('ACN', 'Volume')",1.225100e+06,9.189000e+05,1.841600e+06,9.109000e+05,9.703000e+05
24,"('ABT', 'Open')",1.223900e+02,1.233500e+02,1.228400e+02,1.211800e+02,1.227200e+02
25,"('ABT', 'High')",1.232600e+02,1.235600e+02,1.234000e+02,1.232500e+02,1.232300e+02
26,"('ABT', 'Low')",1.220300e+02,1.221000e+02,1.213500e+02,1.210000e+02,1.223400e+02
27,"('ABT', 'Close')",1.231600e+02,1.227000e+02,1.214600e+02,1.228100e+02,1.230600e+02
28,"('ABT', 'Adj Close')",1.231600e+02,1.227000e+02,1.214600e+02,1.228100e+02,1.230600e+02
29,"('ABT', 'Volume')",4.271200e+06,4.356900e+06,3.683100e+06,3.023600e+06,3.475100e+06

In [74]:
with open(csv_path, 'w') as outfile:
     json.dump(sp_data.to_json(), outfile, indent=4)

FileNotFoundError: [Errno 2] No such file or directory: 'Stock_Data\\Stock_Data.json'

In [75]:
with open(csv_path, "r") as infile:
    stock_dict = json.dump(infile)
    
stock_dict

FileNotFoundError: [Errno 2] No such file or directory: 'Stock_Data\\Stock_Data.json'

In [76]:
json_file = open(csv_path, "r").read()
# stock_d = json.load(json_file)
# json_file.close()
# print(json.dumps(stock_d, indent=4, sort_keys=True))
# data = urlopen(q).read()
json_data = json.loads(json_file) # DECODE THE STRING 
with open('output.json', 'w') as out:
    json.dump(json_data, out, indent=4) # DO NOT CALL STR ON IT AGAIN

print(json.dumps(out))

FileNotFoundError: [Errno 2] No such file or directory: 'Stock_Data\\Stock_Data.json'

In [77]:
def ForwardPE():
    tick_list = []
    forwardPE = []
    count = 0
    for ticker in sp5_tickers:
        info = yf.Ticker(ticker).info
        info["Ticker"] = ticker
        forwardPE.append(info["forwardPE"])
        tick_list.append(info["Ticker"])
        count+=1
        print(count)
    pe_df = pd.DataFrame(data=forwardPE, index=tick_list, columns=["Forward P/E"])
    pe_df.sort_values(by="Forward P/E", ascending=False, inplace=True)
    
    return pe_df
# fin = yf.Ticker("MSFT").info

In [78]:
ForwardPE()

1
2
3
4
5

      Forward P/E
ABMD    61.500954
ACN     32.837563
ABT     26.521551
MMM     18.976349
ABBV     8.337867

In [79]:
# def calcRSI (ticker):
#     data = yf.download(ticker, period="5y", groupby="Ticker")
#     data["Moving_Avg_200_Days"] = data["Adj Close"].rolling(window=200).mean()
#     data["Price_Change"] = data["Adj Close"].pct_change()
#     data["Gains"] = data["Price_Change"].apply(lambda x: x if x > 0 else 0)
#     data["Losses"] = data["Price_Change"].apply(lambda x: abs(x) if x < 0 else 0)
#     data["Avg_Up"] = data["Gains"].ewm(span=19).mean()
#     data["Avg_Down"] = data["Losses"].ewm(span=19).mean()
#     data = data.dropna()
#     data["RS"] = data["Avg_Up"]/data["Avg_Down"]
#     data["RSI"] = data["RS"].apply(lambda x: 100 - (100/(x+1)))
#     return data

In [80]:
def calcRSI (ticker):
    data = yf.download(ticker, start=start_date,end=end_date, group_by="Ticker")
    data["Ticker"] = ticker
#     data["Moving_Avg_200_Days"] = data["Adj Close"].rolling(window=200).mean()
    data["Price_Change"] = data["Adj Close"].pct_change()
#     temp1 = data['Price_Change']
    data['Gains'] = data.loc[:,"Price_Change"].apply(lambda x: x if x > 0 else 0)
#     data["Gains"] = data.iloc[:,7].apply(lambda x: x if x > 0 else 0)
    data["Losses"] = data.loc[:,"Price_Change"].apply(lambda x: abs(x) if x < 0 else 0)
#     data["Losses"] = data.iloc[:,7].apply(lambda x: abs(x) if x < 0 else 0)
#     temp2 = data["Gains"]
#     temp3 = data["Losses"]
    data["Avg_Up"] = data.loc[:,"Gains"].ewm(com=13,adjust=False, min_periods=14).mean()
#     temp4 = data["Avg_Up"]
    data["Avg_Down"] = data.loc[:, "Losses"].ewm(com=13,adjust=False, min_periods=14).mean()
#     temp5 = data["Avg_Down"]

#     temp6 = temp4/temp5
    data["RS"] = data.loc[:, "Avg_Up"]/data.loc[:,"Avg_Down"]
    data["RSI"] = data.loc[:,"RS"].apply(lambda x: 100 - (100/(x+1)))
    data = data.dropna()
#     temp7 = data["RSI"]
#     output_df = pd.DataFrame(columns=["Ticker", "RSI"])
#     output_df = output_df.append({"Ticker" : ticker,
#                                  "RSI" : temp7},
#                                 ignore_index=True)
    today = data.iloc[-1]
#     output_df = pd.DataFrame(columns=["Ticker","RSI"])
#     output_df = pd.merge(output_df,today[["Ticker", "RSI"]], on="Ticker", how="left")
    return today

In [81]:
calcRSI(sp500_tickers[0])

[*********************100%***********************]  1 of 1 completed

Open            201.229996
High            201.710007
Low             200.289993
Close           200.580002
Adj Close       200.580002
Volume             1910700
Ticker                 MMM
Price_Change      -0.00422
Gains                  0.0
Losses             0.00422
Avg_Up            0.003709
Avg_Down          0.003205
RS                1.157066
RSI              53.640731
Name: 2021-08-13 00:00:00, dtype: object

In [82]:
sp5_tickers= ['MMM', 'ABT', 'ABBV', 'ABMD', 'ACN']

In [83]:
# join_data = pd.DataFrame(index="Tickers",columns="RSI")

In [84]:
def Todays_RSI_Hi():
    stock_tick_list = []
    stock_rsi_list = []
    count = 0
#     join_data = pd.DataFrame()
    for stock in sp5_tickers:
        stockRSI = calcRSI(stock)
        stock_tick_list.append(stockRSI["Ticker"])
        stock_rsi_list.append(stockRSI["RSI"])
        count+=1
        print(count)
    rsi_df_hi = pd.DataFrame(data=(stock_rsi_list), index=stock_tick_list, columns=["RSI"])
    rsi_df_hi.sort_values(by=["RSI"], ascending=False,inplace=True)

    return rsi_df_hi.head()

In [85]:
fig = Todays_RSI_Hi()

[*********************100%***********************]  1 of 1 completed
1
[*********************100%***********************]  1 of 1 completed
2
[*********************100%***********************]  1 of 1 completed
3
[*********************100%***********************]  1 of 1 completed
4
[*********************100%***********************]  1 of 1 completed
5

In [86]:
fig

            RSI
ACN   68.444327
ABT   64.502504
ABBV  54.544121
MMM   53.640731
ABMD  47.793852

In [87]:
def Todays_RSI_Low():
    stock_tick_list = []
    stock_rsi_list = []
    count = 0
#     join_data = pd.DataFrame()
    for stock in sp5_tickers:
        stockRSI = calcRSI(stock)
        stock_tick_list.append(stockRSI["Ticker"])
        stock_rsi_list.append(stockRSI["RSI"])
        count+=1
        print(count)
    rsi_df_low = pd.DataFrame(data=(stock_rsi_list), index=stock_tick_list, columns=["RSI"])
    rsi_df_low = rsi_df_low.sort_values(by=["RSI"],ascending=True)

    return rsi_df_low

In [88]:
fig2 = Todays_RSI_Low()

[*********************100%***********************]  1 of 1 completed
1
[*********************100%***********************]  1 of 1 completed
2
[*********************100%***********************]  1 of 1 completed
3
[*********************100%***********************]  1 of 1 completed
4
[*********************100%***********************]  1 of 1 completed
5

In [89]:
fig2

            RSI
ABMD  47.793852
MMM   53.640731
ABBV  54.544121
ABT   64.502504
ACN   68.444327

In [90]:
aapl_data = yf.download('AAPL', period="1mo")
aapl_data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-07-14,148.100006,149.570007,147.679993,149.149994,148.926865,127050800
2021-07-15,149.240005,150.000000,147.089996,148.479996,148.257874,106820300
2021-07-16,148.460007,149.759995,145.880005,146.389999,146.170990,93251400
2021-07-19,143.750000,144.070007,141.669998,142.449997,142.236893,121434600
2021-07-20,143.460007,147.100006,142.960007,146.149994,145.931351,96350000
2021-07-21,145.529999,146.130005,144.630005,145.399994,145.182480,74993500
2021-07-22,145.940002,148.199997,145.809998,146.800003,146.580383,77338200
2021-07-23,147.550003,148.720001,146.919998,148.559998,148.337753,71447400
2021-07-26,148.270004,149.830002,147.699997,148.990005,148.767120,72434100
2021-07-27,149.119995,149.210007,145.550003,146.770004,146.550430,104818600
2021-07-28,144.809998,146.970001,142.539993,144.979996,144.763107,118931200
2021-07-29,144.690002,146.550003,144.580002,145.639999,145.422119,56699500
2021-07-30,144.380005,146.330002,144.110001,145.860001,145.641785,70382000
2021-08-02,146.360001,146.949997,145.250000,145.520004,145.302307,62880000
2021-08-03,145.809998,148.039993,145.179993,147.360001,147.139542,64786600
2021-08-04,147.270004,147.789993,146.279999,146.949997,146.730164,56368300
2021-08-05,146.979996,147.839996,146.169998,147.059998,146.839996,46397700
2021-08-06,146.350006,147.110001,145.630005,146.139999,146.139999,54067400
2021-08-09,146.199997,146.699997,145.520004,146.089996,146.089996,48908700
2021-08-10,146.440002,147.710007,145.300003,145.600006,145.600006,69023100
2021-08-11,146.050003,146.720001,145.529999,145.860001,145.860001,48493500
2021-08-12,146.190002,149.050003,145.839996,148.889999,148.889999,72282600
2021-08-13,148.970001,149.440002,148.270004,149.100006,149.100006,59318800

In [91]:
aapl_data['Ticker'] = 'AAPL'
aapl_data

,Open,High,Low,Close,Adj Close,Volume,Ticker
Date,,,,,,,
2021-07-14,148.100006,149.570007,147.679993,149.149994,148.926865,127050800,AAPL
2021-07-15,149.240005,150.000000,147.089996,148.479996,148.257874,106820300,AAPL
2021-07-16,148.460007,149.759995,145.880005,146.389999,146.170990,93251400,AAPL
2021-07-19,143.750000,144.070007,141.669998,142.449997,142.236893,121434600,AAPL
2021-07-20,143.460007,147.100006,142.960007,146.149994,145.931351,96350000,AAPL
2021-07-21,145.529999,146.130005,144.630005,145.399994,145.182480,74993500,AAPL
2021-07-22,145.940002,148.199997,145.809998,146.800003,146.580383,77338200,AAPL
2021-07-23,147.550003,148.720001,146.919998,148.559998,148.337753,71447400,AAPL
2021-07-26,148.270004,149.830002,147.699997,148.990005,148.767120,72434100,AAPL
2021-07-27,149.119995,149.210007,145.550003,146.770004,146.550430,104818600,AAPL
2021-07-28,144.809998,146.970001,142.539993,144.979996,144.763107,118931200,AAPL
2021-07-29,144.690002,146.550003,144.580002,145.639999,145.422119,56699500,AAPL
2021-07-30,144.380005,146.330002,144.110001,145.860001,145.641785,70382000,AAPL
2021-08-02,146.360001,146.949997,145.250000,145.520004,145.302307,62880000,AAPL
2021-08-03,145.809998,148.039993,145.179993,147.360001,147.139542,64786600,AAPL
2021-08-04,147.270004,147.789993,146.279999,146.949997,146.730164,56368300,AAPL
2021-08-05,146.979996,147.839996,146.169998,147.059998,146.839996,46397700,AAPL
2021-08-06,146.350006,147.110001,145.630005,146.139999,146.139999,54067400,AAPL
2021-08-09,146.199997,146.699997,145.520004,146.089996,146.089996,48908700,AAPL
2021-08-10,146.440002,147.710007,145.300003,145.600006,145.600006,69023100,AAPL
2021-08-11,146.050003,146.720001,145.529999,145.860001,145.860001,48493500,AAPL
2021-08-12,146.190002,149.050003,145.839996,148.889999,148.889999,72282600,AAPL
2021-08-13,148.970001,149.440002,148.270004,149.100006,149.100006,59318800,AAPL

In [92]:
wmt_data = yf.download("WMT", period="1mo")
wmt_data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-07-14,140.710007,141.800003,139.830002,141.550003,141.031021,6270700
2021-07-15,142.000000,142.639999,141.089996,141.660004,141.140625,5991600
2021-07-16,141.699997,142.130005,140.949997,141.559998,141.040985,6031800
2021-07-19,141.410004,142.979996,139.770004,141.229996,140.712189,9127700
2021-07-20,140.970001,142.470001,140.779999,141.869995,141.349838,6340100
2021-07-21,142.500000,142.539993,140.710007,141.169998,140.652405,6197300
2021-07-22,141.130005,142.119995,140.800003,141.270004,140.752045,4337800
2021-07-23,141.520004,142.720001,141.009995,142.429993,141.907791,5315800
2021-07-26,142.360001,143.860001,141.460007,142.630005,142.107071,6172400
2021-07-27,143.000000,143.000000,141.960007,142.639999,142.117020,5131900
2021-07-28,142.479996,143.250000,141.660004,142.059998,141.539154,4690500
2021-07-29,142.639999,142.850006,142.020004,142.240005,141.718491,3687700
2021-07-30,141.199997,142.960007,141.199997,142.550003,142.027359,5441700
2021-08-02,142.830002,142.869995,141.669998,142.220001,141.698563,6652800
2021-08-03,142.440002,143.899994,142.360001,143.820007,143.292709,6305100
2021-08-04,143.380005,143.940002,142.740005,142.839996,142.316284,5100500
2021-08-05,144.229996,145.539993,143.990005,145.490005,144.956573,9001800
2021-08-06,146.210007,146.470001,144.949997,145.229996,144.697525,6420200
2021-08-09,145.910004,146.479996,145.399994,145.580002,145.046249,5270600
2021-08-10,146.970001,148.949997,146.250000,148.679993,148.134872,12754000
2021-08-11,149.509995,151.580002,149.160004,150.009995,149.459991,13818600
2021-08-12,149.000000,150.210007,148.809998,149.059998,149.059998,6089700
2021-08-13,149.380005,150.360001,149.160004,149.529999,149.529999,5321900

In [93]:
combined = pd.merge(aapl_data, wmt_data, how="left", on=['Date'])

In [94]:
combined

,Open_x,High_x,Low_x,Close_x,Adj Close_x,Volume_x,Ticker,Open_y,High_y,Low_y,Close_y,Adj Close_y,Volume_y
Date,,,,,,,,,,,,,
2021-07-14,148.100006,149.570007,147.679993,149.149994,148.926865,127050800,AAPL,140.710007,141.800003,139.830002,141.550003,141.031021,6270700
2021-07-15,149.240005,150.000000,147.089996,148.479996,148.257874,106820300,AAPL,142.000000,142.639999,141.089996,141.660004,141.140625,5991600
2021-07-16,148.460007,149.759995,145.880005,146.389999,146.170990,93251400,AAPL,141.699997,142.130005,140.949997,141.559998,141.040985,6031800
2021-07-19,143.750000,144.070007,141.669998,142.449997,142.236893,121434600,AAPL,141.410004,142.979996,139.770004,141.229996,140.712189,9127700
2021-07-20,143.460007,147.100006,142.960007,146.149994,145.931351,96350000,AAPL,140.970001,142.470001,140.779999,141.869995,141.349838,6340100
2021-07-21,145.529999,146.130005,144.630005,145.399994,145.182480,74993500,AAPL,142.500000,142.539993,140.710007,141.169998,140.652405,6197300
2021-07-22,145.940002,148.199997,145.809998,146.800003,146.580383,77338200,AAPL,141.130005,142.119995,140.800003,141.270004,140.752045,4337800
2021-07-23,147.550003,148.720001,146.919998,148.559998,148.337753,71447400,AAPL,141.520004,142.720001,141.009995,142.429993,141.907791,5315800
2021-07-26,148.270004,149.830002,147.699997,148.990005,148.767120,72434100,AAPL,142.360001,143.860001,141.460007,142.630005,142.107071,6172400
2021-07-27,149.119995,149.210007,145.550003,146.770004,146.550430,104818600,AAPL,143.000000,143.000000,141.960007,142.639999,142.117020,5131900
2021-07-28,144.809998,146.970001,142.539993,144.979996,144.763107,118931200,AAPL,142.479996,143.250000,141.660004,142.059998,141.539154,4690500
2021-07-29,144.690002,146.550003,144.580002,145.639999,145.422119,56699500,AAPL,142.639999,142.850006,142.020004,142.240005,141.718491,3687700
2021-07-30,144.380005,146.330002,144.110001,145.860001,145.641785,70382000,AAPL,141.199997,142.960007,141.199997,142.550003,142.027359,5441700
2021-08-02,146.360001,146.949997,145.250000,145.520004,145.302307,62880000,AAPL,142.830002,142.869995,141.669998,142.220001,141.698563,6652800
2021-08-03,145.809998,148.039993,145.179993,147.360001,147.139542,64786600,AAPL,142.440002,143.899994,142.360001,143.820007,143.292709,6305100
2021-08-04,147.270004,147.789993,146.279999,146.949997,146.730164,56368300,AAPL,143.380005,143.940002,142.740005,142.839996,142.316284,5100500
2021-08-05,146.979996,147.839996,146.169998,147.059998,146.839996,46397700,AAPL,144.229996,145.539993,143.990005,145.490005,144.956573,9001800
2021-08-06,146.350006,147.110001,145.630005,146.139999,146.139999,54067400,AAPL,146.210007,146.470001,144.949997,145.229996,144.697525,6420200
2021-08-09,146.199997,146.699997,145.520004,146.089996,146.089996,48908700,AAPL,145.910004,146.479996,145.399994,145.580002,145.046249,5270600
2021-08-10,146.440002,147.710007,145.300003,145.600006,145.600006,69023100,AAPL,146.970001,148.949997,146.250000,148.679993,148.134872,12754000
2021-08-11,146.050003,146.720001,145.529999,145.860001,145.860001,48493500,AAPL,149.509995,151.580002,149.160004,150.009995,149.459991,13818600
2021-08-12,146.190002,149.050003,145.839996,148.889999,148.889999,72282600,AAPL,149.000000,150.210007,148.809998,149.059998,149.059998,6089700
2021-08-13,148.970001,149.440002,148.270004,149.100006,149.100006,59318800,AAPL,149.380005,150.360001,149.160004,149.529999,149.529999,5321900

In [95]:
""

''

In [97]:
cars = {'Brand': ["Nissan"]}
cars
#df = pd.DataFrame(cars, columns = 'Brand')
#print(df)

{'Brand': ['Nissan']}